<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>stonks</title>
  <link rel="shortcut icon" href="static/assets/favicon.ico">
  <link rel="stylesheet" href="static/css/Home.css">

  <script language="javascript" type="text/javascript" src="static\processing\p5.min.js"></script>
    <input type="range" min="0" max="10" value="0" class="slider" id="daysPerSecond">
    <script language="javascript" type="text/javascript" src="static\processing\cookieClicker_pde.js"></script>


  <head>
    <!-- This line removes any default padding and style.
       You might only need one of these values set. -->
       <style> body { padding: 0; margin: 0; } </style>
  </head>
  <body>

    <!-- main canvas: -->

  </body>


</html>
